@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Heebo-VariableFont_wght.ttf) format('truetype');
}

body {
    font-family: 'MyFont';
}

/*overlay menu mobile*/
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .absolute-signin-mobile {
    background-color: white;
    position: absolute;
    bottom: 0%;
    width: 100%;
  }
  
  .link-option {
    padding: 22px;
    text-decoration: none;
    font-size: 32px;
    color:white;
    display: block;
    transition: 0.3s;
  }
  
  .link-option:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  /**************/
  
.color-circle {
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.color-circle:hover {
  border: 1px solid black;
}

.selected {
  border: 1px solid black;
}

.custom-link {
    color: #83a6cc;
}

.custom-link-black {
    color: black;
}

.custom-link-black:hover {
    color: black;
    text-decoration: underline;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.white-bars {
  color: white;
}

.custom-footer {
  z-index: 0;
}

.custom-height {
  height: calc(100vh - 50px);
}